#navbar{
    background-color: #133B40;
    color: white;
}

#navbar i{
    color: white;
}

#morningbrew .nav-items {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2px;
    padding-bottom: 0.5rem;
    color: #E33E19;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer!important;
}

#morningbrew .nav-items.active {
    padding-top: 0px;
    color: black;
}

#navbar3 {
    background-color: rgb(48,73,95);
    color: white;
}

#navbar4 div.nav-link {
    color: black;
}

#navbar4 div.nav-link.active {
    color: #EDC601
}

#navbar5 {
    background-color: #017574;
    color: white;
}

#navbar5 li.nav-item.nav-link {
    color: white;
}

#navbar5 li#delivery.nav-item.nav-link {
    color: #F1A228;
}